<div class="ui container home-container sticky">
    <div class="ui piled blue segment">
        <h1 class="ui header centered">Saved Articles</h1>
        <h3 class="ui header centered">These are your saved articles</h3>
    </div>

    <div class="ui divided items">
        {{#each articles}}
        <div class="item">
            <div class="image">
                <img src="{{this.img}}">
            </div>
            <div class="content">
                    <h2>
                        <a target="_blank" class="header">{{this.title}}</a>
                    </h2>
                    <div class="meta">
                        <span class="cinema">{{this.writer}}</span>
                    </div>
                    <div class="description">
                        <p>{{this.summary}}</p>
                    </div>
                    <div class="extra">
                        {{!-- <form action="/articles/{{this._id}}?_method=DELETE" method="POST"> --}}
                        <button id="{{this._id}}" type="submit" class="ui right floated red icon button removeArticleButton">
                            <i class="trash alternate icon"></i>
                        </button>
                        {{!-- </form> --}}
                        <a href="/articles/saved/{{this._id}}" class="ui right floated inverted primary button">
                            <i class="pencil alternate icon"></i> Article Notes
                        </a>
                        <a href="{{this.url}}" target="_blank" class="ui right floated blue button">
                            <i class="linkify icon"></i> Link
                        </a>
                    </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>


{{!-- small modal to host article deletion confirmation message --}}
<div class="ui mini modal">
    <div class="red header">Please Confirm!</div>
    <div class="content">
        <h3>Do you really want to remove this article from your saved?</h3>
    </div>
    <div class="actions">
        <form id="deleteForm" action="" method="POST">
            <div class="ui cancel blue button">No</div>
            <button id="deleteButton" type="submit" class="ui approve red button">Yes</button>
        </form>
    </div>
</div>