<div class="ui container home-container sticky">

    <div class="ui piled segment">
        <h1 class="ui header centered">Welcome to the Tech News Web Scraper</h1>
        <h3 class="ui header centered">Get all the latest technology news from around the world</h3>
        {{#if info}}
        <div class="ui compact blue message">
            <p>{{info}}</p>
        </div>
        {{/if}} {{#if error}}
        <div class="ui compact negative message">
            <p>{{error}}</p>
        </div>
        {{/if}}
    </div>

    <div class="ui divided items">
        {{#each data}}
        <div class="item">
            <div class="image">
                <img src="{{this.img}}">
            </div>
            <div class="content">
                <form id="articleForm" action="/scrape_articles">
                    <input type="hidden" name="title" value="{{this.title}}">
                    <input type="hidden" name="url" value="{{this.url}}">
                    <input type="hidden" name="img" value="{{this.img}}">
                    <input type="hidden" name="writer" value="{{this.writer}}">
                    <input type="hidden" name="summary" value="{{this.summary}}">
                    <h2>
                        <a href="{{this.url}}" target="_blank" class="header">{{this.title}}</a>
                    </h2>
                    <div class="meta">
                        <span class="cinema">{{this.writer}} {{currentUser.firstName}}</span>
                    </div>
                    <div class="description">
                        <p>{{this.summary}}</p>
                    </div>
                    {{#if ../currentUser}}
                    <div class="extra">
                        <button type="submit" class="ui right floated inverted primary button saveButton">
                            <i class="save icon"></i> Save Article
                        </button>
                    </div>
                    {{/if}}
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>





























{{!--
<div class="ui grid centered">
    <div class="one column row">
        <div class="column">
            <div class="contentDiv">
                <h1 class="ui header centered">THE BURGER SHOP</h1>
            </div>
        </div>
    </div>
</div>
<div class="ui three column doubling stackable grid container">
    <div class="row">
        <div class="column">
            <div class="contentDiv">
                <table class="ui celled striped table newburgerTable">
                    <tbody>
                        {{#each burgers}} {{#unless devoured}}
                        <tr>
                            <td class="idTableData">{{this.ID}}</td>
                            <td>{{this.burger_name}}</td>
                            <td class="devourBtn">
                                <button burgerId="{{this.ID}}" status="{{this.devoured}}" class="devourBurger ui button fluid">
                                    <i class="times icon"></i>Devour It!</button>
                            </td>
                        </tr>
                        {{/unless}} {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column centered">
            <div class="contentDiv">
                <form class="ui form" action="/index" method="POST" autoComplete="off">
                    <div class="field">
                        <input id="burgerInput" type="text" name="burger" placeholder="Burger name">
                    </div>
                    <button id="submit" class="ui floated button violet centered fluid" type="submit">
                        <i class="plus icon"></i> Add Burger</button>
                    <div class="ui error message"></div>
                </form>
            </div>
        </div>
        <div class="column">
            <div class="contentDiv">
                <table class="ui celled striped table devouredTable">
                    <tbody>
                        {{#each burgers}} {{#if devoured}}
                        <tr>
                            <td class="idTableData">{{this.ID}}</td>
                            <td>{{ this.burger_name}}</td>
                        </tr>
                        {{/if}} {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div> --}}